#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.form-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 15px;
}

.form-block label {
  align-self: flex-start;
}

input[type="number"] {
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 1em;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  border: none;
}

input[type="range"]:focus,
input[type="range"]:focus-visible {
  outline: none;
}

.submit-welcome {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}

button:hover {
  border-color: #380550;
}


select {
  appearance: none;
  background-color: rgb(10, 9, 9);
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

select::-ms-expand {
  display: none;
}

.dropdown-panel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #1a1a1a;
  border-radius: 5px;
  padding-inline: 10px;
  cursor: pointer;
}

.options-wrapper {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 500px;
  max-height: 400px;
  background-color: #242424;
  overflow-y: auto;
  transform-origin: top;
  animation: open 0.2s ease;
  transition: all 0.2s ease;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid black;
  cursor: pointer;
  transition: all 0.1s ease;
}

.option:hover {
  background-color: rgba(145, 10, 172, 0.2);
}

@keyframes open {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    scale: 1;
  }
}

.question-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  padding: 2em;
  background-color: #1a1a1a;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.answers {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  gap: 10px;
  margin-top: 20px;
}

.button-answer {
  margin-top: 30px;
  width: 200px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #928c8c;
  cursor: pointer;
}

